<connectionStrings>
  <add name="DefaultConnection" connectionString="workstation id=ACStalkMarket.mssql.somee.com;packet size=4096;user id=acstalkmarket;pwd=hola1234;data source=ACStalkMarket.mssql.somee.com;persist security info=False;initial catalog=ACStalkMarket"
       providerName="System.Data.SqlClient" />
</connectionStrings>
