@using ACStalkMarket.Extensions;
@using System.Data.Entity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resumen de Semanas</h2>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Nueva Semana", "New", "Weeks", new { @class = "btn btn-primary" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="weeks" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Venta</th>
                    <th>Patrón</th>
                    <th>Estado</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<input type="hidden" id="people-id" data-people-id="@User.Identity.GetPeopleId()">

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#weeks").DataTable({
                ajax: {
                    url: "/api/weeks/" + $("#people-id").attr("data-people-id"),
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "startingDate",
                        render: function (data, type, week) {
                            var date = new Date(week.startingDate);
                            var shortDate =  date.getUTCDate() + "/" + date.getUTCMonth() + "/" + date.getUTCFullYear();
                            return "<a href='/weeks/edit/" + week.id + "'>" + shortDate + "</a>";
                        }
                    },
                    {
                        data: "sellingDate",
                        render: function (data) {
                            var date = new Date(data);
                            return date.getUTCDate() + "/" + date.getUTCMonth() + "/" + date.getUTCFullYear();
                        }
                    },
                    {
                        data: "weekPattern.name"
                    },
                    {
                        data: "weekActive",
                        render: function (data) {
                            return (data) ? "En Progreso" : "Terminada";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-week-id='" + data + "'>Borrar</button>";
                        }
                    }
                ]
            });
        });
    </script>
}