
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resumen de Semanas</h2>

@Html.ActionLink("Nueva Semana", "New", "Weeks", new { @class = "btn btn-primary" })

<table id="weeks" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Fecha de Inicio</th>
            <th>Fecha de Venta</th>
            <th>Patrón</th>
            <th>Estado</th>
            <th>Eliminar</th>
        </tr>
    </thead>

    <tbody></tbody>
</table>